.flexo {
  display: flex;
  flex-direction: column;
}

.content-tile {
  margin-bottom: 30px;
  order: 1;
  padding: 10px;
  /* border: 1px solid red; */
}

.video-tile {
  margin-bottom: 30px;
  order: 0;
  padding: 10px;
}

.section-header {
  font-size: 1.5rem;
}

.header-link {
  flex-basis: 33%;
}

.tmp-headline {
  font-size: 30px;
}

.header-outs {
  margin-top: -30px;
}

.main {
  padding: 15px;
}

@media screen and (min-width: 768px) {
  .main {
    padding: 30px;
  }

  .tmp-headline {
    font-size: 36px;
  }

  .header-outs {
    margin-top: 20px;
  }

  .flexo {
    flex-direction: row;
    width: 100%;
  }

  .header-link {
    flex-basis: auto;
  }

  .content-tile {
    order: 0;
    width: 70%
  }

  .video-tile {
    order: 1;
    width: 30%
  }
}


@media screen and (min-width: 1200px) {
  .main {
    padding: 50px;
  }
}

/* Video caption styling */
.video-caption {
  font-size: 14px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  line-height: 1.4;
  color: #333;
}
