.plg_fa_karmany{
	height: 22px;
}
.plg_fa_karmany span{
	float: right;
}
.plg_fa_karmany_titulo{
	margin-right: 3px;
	height: 15px;
}
.plg_fa_karmany_mas{
	margin-right: 2px;
}
.plg_fa_karmany_mas a{
	background: url(/web/20181208174109im_/https://www.moderateparty.net/site2/plugins/content/articlepxfontsize_j16/articlepxfontsize_j16/mas02.png) no-repeat left top !important;
	height: 15px;
	width: 15px;
	display: block;
	text-decoration: none;
}
.plg_fa_karmany_mas a:hover{
	background: url(/web/20181208174109im_/https://www.moderateparty.net/site2/plugins/content/articlepxfontsize_j16/articlepxfontsize_j16/mas02.png) no-repeat left -20px !important;
}
.plg_fa_karmany_mas a:active{
	background: url(/web/20181208174109im_/https://www.moderateparty.net/site2/plugins/content/articlepxfontsize_j16/articlepxfontsize_j16/mas02.png) no-repeat left -40px !important;
}
.plg_fa_karmany_menos a{
	background: url(/web/20181208174109im_/https://www.moderateparty.net/site2/plugins/content/articlepxfontsize_j16/articlepxfontsize_j16/menos02.png) no-repeat left top !important;
	height: 15px;
	width: 15px;
	display: block;
	text-decoration: none;
}
.plg_fa_karmany_menos a:hover{
	background: url(/web/20181208174109im_/https://www.moderateparty.net/site2/plugins/content/articlepxfontsize_j16/articlepxfontsize_j16/menos02.png) no-repeat left -20px !important;
}
.plg_fa_karmany_menos a:active{
	background: url(/web/20181208174109im_/https://www.moderateparty.net/site2/plugins/content/articlepxfontsize_j16/articlepxfontsize_j16/menos02.png) no-repeat left -40px !important;
}
.plg_fa_karmany_igual{
	margin-right: 2px;
}
.plg_fa_karmany_igual a{
	background: url(/web/20181208174109im_/https://www.moderateparty.net/site2/plugins/content/articlepxfontsize_j16/articlepxfontsize_j16/igual02.png) no-repeat left top !important;
	height: 15px;
	width: 15px;
	display: block;
	text-decoration: none;
}
.plg_fa_karmany_igual a:hover{
	background: url(/web/20181208174109im_/https://www.moderateparty.net/site2/plugins/content/articlepxfontsize_j16/articlepxfontsize_j16/igual02.png) no-repeat left -20px !important;
}
.plg_fa_karmany_igual a:active{
	background: url(/web/20181208174109im_/https://www.moderateparty.net/site2/plugins/content/articlepxfontsize_j16/articlepxfontsize_j16/igual02.png) no-repeat left -40px !important;
}
.karmany_clearboth{
	clear: both;
}
/*
     FILE ARCHIVED ON 17:41:09 Dec 08, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 01:20:11 Feb 16, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 96.35
  exclusion.robots: 0.107
  exclusion.robots.policy: 0.098
  RedisCDXSource: 1.296
  esindex: 0.01
  LoadShardBlock: 72.334 (3)
  PetaboxLoader3.datanode: 114.792 (5)
  CDXLines.iter: 20.303 (3)
  load_resource: 270.968 (2)
  PetaboxLoader3.resolve: 107.263 (2)
*/
