.text-underline {text-decoration: underline ;}

#tmp-main
{
  background: #FFFFFF;
  margin: 0 auto;
  font-size: 13px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  position: relative;
  width: 100%;
  min-height: 100%;
  left: 0;
  top: 0;
  cursor: default;
  overflow: hidden;
}

table, ul.tmp-hmenu
{
  font-size: 13px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
  margin: 0;
  padding: 0;
}

.tmp-button
{
  border: 0;
  border-collapse: separate;
  -webkit-background-origin: border !important;
  -moz-background-origin: border !important;
  background-origin: border-box !important;
  background: #B5B5B5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 0 21px;
  margin: 0 auto;
  height: 24px;
}

.tmp-postcontent, .tmp-postheadericons, .tmp-postfootericons, .tmp-blockcontent, ul.tmp-vmenu a
{
  text-align: left;
}

.tmp-postcontent, .tmp-postcontent li, .tmp-postcontent table, .tmp-postcontent a, .tmp-postcontent a:link, .tmp-postcontent a:visited, .tmp-postcontent a.visited, .tmp-postcontent a:hover, .tmp-postcontent a.hovered
{
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.tmp-postcontent p
{
  margin: 12px 0;
}

.tmp-postcontent h1, .tmp-postcontent h1 a, .tmp-postcontent h1 a:link, .tmp-postcontent h1 a:visited, .tmp-postcontent h1 a:hover, .tmp-postcontent h2, .tmp-postcontent h2 a, .tmp-postcontent h2 a:link, .tmp-postcontent h2 a:visited, .tmp-postcontent h2 a:hover, .tmp-postcontent h3, .tmp-postcontent h3 a, .tmp-postcontent h3 a:link, .tmp-postcontent h3 a:visited, .tmp-postcontent h3 a:hover, .tmp-postcontent h4, .tmp-postcontent h4 a, .tmp-postcontent h4 a:link, .tmp-postcontent h4 a:visited, .tmp-postcontent h4 a:hover, .tmp-postcontent h5, .tmp-postcontent h5 a, .tmp-postcontent h5 a:link, .tmp-postcontent h5 a:visited, .tmp-postcontent h5 a:hover, .tmp-postcontent h6, .tmp-postcontent h6 a, .tmp-postcontent h6 a:link, .tmp-postcontent h6 a:visited, .tmp-postcontent h6 a:hover, .tmp-blockheader .t, .tmp-blockheader .t a, .tmp-blockheader .t a:link, .tmp-blockheader .t a:visited, .tmp-blockheader .t a:hover, .tmp-vmenublockheader .t, .tmp-vmenublockheader .t a, .tmp-vmenublockheader .t a:link, .tmp-vmenublockheader .t a:visited, .tmp-vmenublockheader .t a:hover, .tmp-headline, .tmp-headline a, .tmp-headline a:link, .tmp-headline a:visited, .tmp-headline a:hover, .tmp-slogan, .tmp-slogan a, .tmp-slogan a:link, .tmp-slogan a:visited, .tmp-slogan a:hover, .tmp-postheader, .tmp-postheader a, .tmp-postheader a:link, .tmp-postheader a:visited, .tmp-postheader a:hover
{
  font-weight: normal;
  font-style: normal;
  line-height: 120%;
}

.tmp-postcontent a, .tmp-postcontent a:link
{
  text-decoration: none;
  color: #808080;
}

.tmp-postcontent a:visited, .tmp-postcontent a.visited
{
  text-decoration: none;
  color: #9C9C9C;
}

.tmp-postcontent  a:hover, .tmp-postcontent a.hover
{
  text-decoration: underline;
  color: #9C9C9C;
}

.tmp-postcontent h1
{
  color: #808080;
  margin: 10px 0 0;
  font-size: 26px;
}

.tmp-blockcontent h1
{
  margin: 10px 0 0;
  font-size: 26px;
}

.tmp-postcontent h1 a, .tmp-postcontent h1 a:link, .tmp-postcontent h1 a:hover, .tmp-postcontent h1 a:visited, .tmp-blockcontent h1 a, .tmp-blockcontent h1 a:link, .tmp-blockcontent h1 a:hover, .tmp-blockcontent h1 a:visited
{
  font-size: 26px;

}

.tmp-postcontent h2
{
  color: #9C9C9C;
  margin: 10px 0 0;
  font-size: 22px;

}

.tmp-blockcontent h2
{
  margin: 10px 0 0;
  font-size: 22px;

}

.tmp-postcontent h2 a, .tmp-postcontent h2 a:link, .tmp-postcontent h2 a:hover, .tmp-postcontent h2 a:visited, .tmp-blockcontent h2 a, .tmp-blockcontent h2 a:link, .tmp-blockcontent h2 a:hover, .tmp-blockcontent h2 a:visited
{
  font-size: 22px;

}

.tmp-postcontent h3
{
  color: #9C9C9C;
  margin: 10px 0 0;
  font-size: 20px;

}

.tmp-blockcontent h3
{
  margin: 10px 0 0;
  font-size: 20px;

}

.tmp-postcontent h3 a, .tmp-postcontent h3 a:link, .tmp-postcontent h3 a:hover, .tmp-postcontent h3 a:visited, .tmp-blockcontent h3 a, .tmp-blockcontent h3 a:link, .tmp-blockcontent h3 a:hover, .tmp-blockcontent h3 a:visited
{
  font-size: 20px;

}

.tmp-postcontent h4
{
  color: #696969;
  margin: 10px 0 0;
  font-size: 16px;

}

.tmp-blockcontent h4
{
  margin: 10px 0 0;
  font-size: 16px;

}

.tmp-postcontent h4 a, .tmp-postcontent h4 a:link, .tmp-postcontent h4 a:hover, .tmp-postcontent h4 a:visited, .tmp-blockcontent h4 a, .tmp-blockcontent h4 a:link, .tmp-blockcontent h4 a:hover, .tmp-blockcontent h4 a:visited
{
  font-size: 16px;

}

.tmp-postcontent h5
{
  color: #696969;
  margin: 10px 0 0;
  font-size: 14px;

}

.tmp-blockcontent h5
{
  margin: 10px 0 0;
  font-size: 14px;

}

.tmp-postcontent h5 a, .tmp-postcontent h5 a:link, .tmp-postcontent h5 a:hover, .tmp-postcontent h5 a:visited, .tmp-blockcontent h5 a, .tmp-blockcontent h5 a:link, .tmp-blockcontent h5 a:hover, .tmp-blockcontent h5 a:visited
{
  font-size: 14px;

}

.tmp-postcontent h6
{
  color: #B8B8B8;
  margin: 10px 0 0;
  font-size: 13px;

}

.tmp-blockcontent h6
{
  margin: 10px 0 0;
  font-size: 13px;

}

.tmp-postcontent h6 a, .tmp-postcontent h6 a:link, .tmp-postcontent h6 a:hover, .tmp-postcontent h6 a:visited, .tmp-blockcontent h6 a, .tmp-blockcontent h6 a:link, .tmp-blockcontent h6 a:hover, .tmp-blockcontent h6 a:visited
{
  font-size: 13px;

}

header, footer, article, nav, #tmp-hmenu-bg, .tmp-sheet, .tmp-hmenu a, .tmp-vmenu a, .tmp-slidenavigator > a, .tmp-checkbox:before, .tmp-radiobutton:before
{
  -webkit-background-origin: border !important;
  -moz-background-origin: border !important;
  background-origin: border-box !important;
}

header, footer, article, nav, #tmp-hmenu-bg, .tmp-sheet, .tmp-slidenavigator > a, .tmp-checkbox:before, .tmp-radiobutton:before
{
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul
{
  list-style-type: none;
}

ol
{
  list-style-position: inside;
}

html, body
{
  height: 100%;
}

body
{
  padding: 0;
  margin: 0;
  color: #404040;
}

.clearfix:before, .clearfix:after
{
  content: "";
  display: table;
}

.clearfix:after
{
  clear: both;
}

.cleared
{
  font: 0/0 serif;
  clear: both;
}

form
{
  padding: 0 !important;
  margin: 0 !important;
}

table.position
{
  position: relative;
  width: 100%;
  table-layout: fixed;
}

li h1, .tmp-postcontent li h1, .tmp-blockcontent li h1
{
  margin: 1px;
}

li h2, .tmp-postcontent li h2, .tmp-blockcontent li h2
{
  margin: 1px;
}

li h3, .tmp-postcontent li h3, .tmp-blockcontent li h3
{
  margin: 1px;
}

li h4, .tmp-postcontent li h4, .tmp-blockcontent li h4
{
  margin: 1px;
}

li h5, .tmp-postcontent li h5, .tmp-blockcontent li h5
{
  margin: 1px;
}

li h6, .tmp-postcontent li h6, .tmp-blockcontent li h6
{
  margin: 1px;
}

li p, .tmp-postcontent li p, .tmp-blockcontent li p
{
  margin: 1px;
}

.tmp-shapes
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 0;
}

.tmp-slider-inner
{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.tmp-slidenavigator > a
{
  display: inline-block;
  vertical-align: middle;
  outline-style: none;
  font-size: 1px;
}

.tmp-slidenavigator > a:last-child
{
  margin-right: 0 !important;
}

.tmp-object517066104
{
  display: block;
  left: 1%;
  margin-left: -11px;
  position: absolute;
  top: -8px;
  width: 75px;
  height: 68px;
  background-image: url('/web/20181211130434im_/https://www.moderateparty.net/site2/templates/tmp/images/object517066104.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  z-index: 0;
}

.tmp-headline
{
  display: block;
  margin-left: 40px;
  margin-top: 8px;
  z-index: 99;
}

.title-roaches {
  max-height: 0px;
  max-width: 56px;
  overflow: visible;
}

.title-roach-1 {
  width: 56px;
}

.title-roach-2 {
  margin-left: 120px;
  width: 25px;
}

.tmp-headline, .tmp-headline a, .tmp-headline a:link, .tmp-headline a:visited, .tmp-headline a:hover
{
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  color: #000000 !important;
  white-space: nowrap;
}

.tmp-object227400126 h1, .tmp-object227400126 h2, .tmp-object227400126 h3, .tmp-object227400126 h4, .tmp-object227400126 h5, .tmp-object227400126 h6, .tmp-object227400126 p, .tmp-object227400126 a, .tmp-object227400126 ul, .tmp-object227400126 ol, .tmp-object227400126 li
{
  line-height: 125%;
}

.tmp-object227400126
{
  position: absolute;
  top: 20px;
  left: 42.09%;
  margin-left: -37px !important;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  overflow: hidden;
  background-image: url('/web/20181211130434im_/https://www.moderateparty.net/site2/templates/tmp/images/object227400126.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
  z-index: 101;
  width: 88px;
  height: 24px;
}

.tmp-sheet
{
  margin: 0 auto;
  position: relative;
  cursor: auto;
  width: 100%;
  min-width: 700px;
  max-width: 1920px;
  z-index: auto !important;
}

.tmp-header
{
  margin: 0 auto;
  height: 60px;
  background-image: url('/web/20181211130434im_/https://www.moderateparty.net/site2/templates/tmp/images/header.png');
  background-position: center top;
  background-repeat: no-repeat;
  position: relative;
  z-index: auto !important;
}

.responsive .tmp-header
{
  background-image: url('/web/20181211130434im_/https://www.moderateparty.net/site2/templates/tmp/images/header.png');
  background-position: center center;
}

.tmp-header>div.tmp-nostyle, .tmp-header>div.tmp-block, .tmp-header>div.tmp-post
{
  position: absolute;
  z-index: 101;
}

.tmp-nav
{
  border-bottom: 1px dotted #B5B5B5;
  z-index: 100;
  font-size: 0;
  position: absolute;
  margin: 0;
  bottom: 0;
  width: 100%;
  text-align: right;
}

ul.tmp-hmenu a, ul.tmp-hmenu a:link, ul.tmp-hmenu a:visited, ul.tmp-hmenu a:hover
{
  outline: none;
  position: relative;
  z-index: 11;
}

ul.tmp-hmenu, ul.tmp-hmenu ul
{
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  list-style-type: none;
}

ul.tmp-hmenu li
{
  position: relative;
  z-index: 5;
  display: block;
  float: left;
  background: none;
  margin: 0;
  padding: 0;
  border: 0;
}

ul.tmp-hmenu li:hover
{
  z-index: 10000;
  white-space: normal;
}

ul.tmp-hmenu:after, ul.tmp-hmenu ul:after
{
  content: ".";
  height: 0;
  display: block;
  visibility: hidden;
  overflow: hidden;
  clear: both;
}

ul.tmp-hmenu, ul.tmp-hmenu ul
{
  min-height: 0;
}

ul.tmp-hmenu
{
  display: inline-block;
  vertical-align: bottom;
}

.tmp-nav:before
{
  content: ' ';
}

.tmp-hmenu-extra1
{
  position: relative;
  display: block;
  float: left;
  width: auto;
  height: auto;
  background-position: center;
}

.tmp-hmenu-extra2
{
  position: relative;
  display: block;
  float: right;
  width: auto;
  height: auto;
  background-position: center;
}

.tmp-hmenu
{
  float: right;
}

.tmp-menuitemcontainer
{
  margin: 0 auto;
}

ul.tmp-hmenu>li
{
  margin-left: 11px;
}

ul.tmp-hmenu>li:first-child
{
  margin-left: 5px;
}

ul.tmp-hmenu>li:last-child, ul.tmp-hmenu>li.last-child
{
  margin-right: 5px;
}

ul.tmp-hmenu>li>a
{
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 0 17px;
  margin: 0 auto;
  position: relative;
  display: block;
  height: 35px;
  cursor: pointer;
  text-decoration: none;
  color: #878787;
  line-height: 35px;
  text-align: center;
}

.tmp-hmenu a, .tmp-hmenu a:link, .tmp-hmenu a:visited, .tmp-hmenu a.active, .tmp-hmenu a:hover
{
  font-size: 14px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: left;
}

ul.tmp-hmenu>li>a.active
{
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 0 17px;
  margin: 0 auto;
  color: #858585;
  text-decoration: none;
}

ul.tmp-hmenu>li>a:visited, ul.tmp-hmenu>li>a:hover, ul.tmp-hmenu>li:hover>a
{
  text-decoration: none;
}

ul.tmp-hmenu>li>a:hover, .desktop ul.tmp-hmenu>li:hover>a
{
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 0 17px;
  margin: 0 auto;
}

ul.tmp-hmenu>li>a:hover, .desktop-nav ul.tmp-hmenu>li:hover>a
{
  color: #858585;
  text-decoration: none;
}

ul.tmp-hmenu>li:before
{
  position: absolute;
  display: block;
  content: ' ';
  top: 0;
  left: -11px;
  width: 11px;
  height: 35px;
  background: url('/web/20181211130434im_/https://www.moderateparty.net/site2/templates/tmp/images/menuseparator.png') center center no-repeat;
}

ul.tmp-hmenu>li:first-child:before
{
  display: none;
}

ul.tmp-hmenu li li a
{
  background: #C7C7C7;
  background: transparent;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 0 10px;
  margin: 0 auto;
}

ul.tmp-hmenu li li
{
  float: none;
  width: auto;
  margin-top: 2px;
  margin-bottom: 2px;
}

.desktop-nav ul.tmp-hmenu li li ul>li:first-child
{
  margin-top: 0;
}

ul.tmp-hmenu li li ul>li:last-child
{
  margin-bottom: 0;
}

.tmp-hmenu ul a
{
  display: block;
  white-space: nowrap;
  height: 24px;
  min-width: 7em;
  border: 0 solid transparent;
  text-align: left;
  line-height: 24px;
  color: #878787;
  font-size: 13px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-decoration: none;
  margin: 0;
}

.tmp-hmenu ul a:link, .tmp-hmenu ul a:visited, .tmp-hmenu ul a.active, .tmp-hmenu ul a:hover
{
  text-align: left;
  line-height: 24px;
  color: #878787;
  font-size: 13px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-decoration: none;
  margin: 0;
}

ul.tmp-hmenu li li:after
{
  display: block;
  position: absolute;
  content: ' ';
  height: 0;
  top: -1px;
  left: 0;
  right: 0;
  z-index: 1;
  border-bottom: 1px dotted #D9D9D9;
}

.desktop-nav ul.tmp-hmenu li li:first-child:before, .desktop-nav ul.tmp-hmenu li li:first-child:after
{
  display: none;
}

ul.tmp-hmenu ul li a:hover, .desktop ul.tmp-hmenu ul li:hover>a
{
  background: #FFFFFF;
  background: transparent;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 0 auto;
}

.tmp-hmenu ul a:hover
{
  text-decoration: none;
}

.tmp-hmenu ul li a:hover
{
  color: #7A7A7A;
}

.desktop-nav .tmp-hmenu ul li:hover>a
{
  color: #7A7A7A;
}

ul.tmp-hmenu ul:before
{
  background: #FFFFFF;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  border: 1px dotted rgba(38, 38, 38, 0.9);
  margin: 0 auto;
  display: block;
  position: absolute;
  content: ' ';
  z-index: 1;
}

.desktop-nav ul.tmp-hmenu li:hover>ul
{
  visibility: visible;
  top: 100%;
}

.desktop-nav ul.tmp-hmenu li li:hover>ul
{
  top: 0;
  left: 100%;
}

ul.tmp-hmenu ul
{
  visibility: hidden;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  background-image: url('/web/20181211130434im_/https://www.moderateparty.net/site2/templates/tmp/images/spacer.gif');
}

.desktop-nav ul.tmp-hmenu>li>ul
{
  padding: 21px 41px 41px 41px;
  margin: -10px 0 0 -30px;
}

.desktop-nav ul.tmp-hmenu ul ul
{
  padding: 41px 41px 41px 23px;
  margin: -41px 0 0 0;
}

.desktop-nav ul.tmp-hmenu ul.tmp-hmenu-left-to-right
{
  right: auto;
  left: 0;
  margin: -10px 0 0 -30px;
}

.desktop-nav ul.tmp-hmenu ul.tmp-hmenu-right-to-left
{
  left: auto;
  right: 0;
  margin: -10px -30px 0 0;
}

.desktop-nav ul.tmp-hmenu li li:hover>ul.tmp-hmenu-left-to-right
{
  right: auto;
  left: 100%;
}

.desktop-nav ul.tmp-hmenu li li:hover>ul.tmp-hmenu-right-to-left
{
  left: auto;
  right: 100%;
}

.desktop-nav ul.tmp-hmenu ul ul.tmp-hmenu-left-to-right
{
  right: auto;
  left: 0;
  padding: 41px 41px 41px 23px;
  margin: -41px 0 0 0;
}

.desktop-nav ul.tmp-hmenu ul ul.tmp-hmenu-right-to-left
{
  left: auto;
  right: 0;
  padding: 41px 23px 41px 41px;
  margin: -41px 0 0 0;
}

.desktop-nav ul.tmp-hmenu li ul>li:first-child
{
  margin-top: 0;
}

.desktop-nav ul.tmp-hmenu li ul>li:last-child
{
  margin-bottom: 0;
}

.desktop-nav ul.tmp-hmenu ul ul:before
{
  border-radius: 3px;
  top: 30px;
  bottom: 30px;
  right: 30px;
  left: 12px;
}

.desktop-nav ul.tmp-hmenu>li>ul:before
{
  top: 10px;
  right: 30px;
  bottom: 30px;
  left: 30px;
}

.desktop-nav ul.tmp-hmenu>li>ul.tmp-hmenu-left-to-right:before
{
  right: 30px;
  left: 30px;
}

.desktop-nav ul.tmp-hmenu>li>ul.tmp-hmenu-right-to-left:before
{
  right: 30px;
  left: 30px;
}

.desktop-nav ul.tmp-hmenu ul ul.tmp-hmenu-left-to-right:before
{
  right: 30px;
  left: 12px;
}

.desktop-nav ul.tmp-hmenu ul ul.tmp-hmenu-right-to-left:before
{
  right: 12px;
  left: 30px;
}

.desktop-nav ul.tmp-hmenu>li.ext>a
{
  white-space: nowrap;
}

.desktop-nav ul.tmp-hmenu>li.ext>a:hover, .desktop-nav ul.tmp-hmenu>li.ext:hover>a, .desktop-nav ul.tmp-hmenu>li.ext:hover>a.active
{
  background: none;
  padding: 0 17px 0 17px;
  margin: -0 -0 0 -0;
  overflow: hidden;
  position: relative;
  border: none;
  border-radius: 0;
  box-shadow: none;
  color: #858585;
}

.desktop-nav ul.tmp-hmenu>li.ext>a:hover:before, .desktop-nav ul.tmp-hmenu>li.ext:hover>a:before, .desktop-nav ul.tmp-hmenu>li.ext:hover>a.active:before
{
  position: absolute;
  content: ' ';
  top: 0;
  right: 0;
  left: 0;
  bottom: -1px;
  background-color: #FFFFFF;
  border: 1px Dotted rgba(38, 38, 38, 0.9);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.8);
  z-index: -1;
}

.desktop-nav ul.tmp-hmenu>li.ext:hover>ul
{
  padding-top: 10px;
  margin-top: 0;
}

.desktop-nav ul.tmp-hmenu>li.ext:hover>ul:before
{
  top: -1px;
  clip: rect(11px, auto, auto, auto);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.8);
}

ul.tmp-hmenu>li.ext>.ext-r, ul.tmp-hmenu>li.ext>.ext-l, ul.tmp-hmenu>li.ext>.ext-m, ul.tmp-hmenu>li.ext>.ext-off
{
  display: none;
  z-index: 12;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.desktop-nav ul.tmp-hmenu>li.ext>ul
{
  z-index: 13;
}

.desktop-nav ul.tmp-hmenu>li.ext.ext-r:hover>.ext-r, .desktop-nav ul.tmp-hmenu>li.ext.ext-l:hover>.ext-l
{
  position: absolute;
  display: block;
  overflow: hidden;
  height: 11px;
  top: 100%;
  padding-top: 1px;
  margin-top: -1px;
}

.desktop-nav ul.tmp-hmenu>li.ext:hover>.ext-r:before, .desktop-nav ul.tmp-hmenu>li.ext:hover>.ext-l:before
{
  position: absolute;
  content: ' ';
  top: 0;
  bottom: -1px;
  background-color: #FFFFFF;
  border: 1px Dotted rgba(38, 38, 38, 0.9);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.8);
}

.desktop-nav ul.tmp-hmenu>li.ext.ext-r:hover>.ext-r
{
  left: 100%;
  right: auto;
  padding-left: 0;
  margin-left: 0;
  padding-right: 1px;
  margin-right: -1px;
}

.desktop-nav ul.tmp-hmenu>li.ext.ext-r:hover>.ext-r:before
{
  right: 0;
  left: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.desktop-nav ul.tmp-hmenu>li.ext.ext-l:hover>.ext-l
{
  right: 100%;
  left: auto;
  padding-right: 0;
  margin-right: 0;
  padding-left: 1px;
  margin-left: -1px;
}

.desktop-nav ul.tmp-hmenu>li.ext.ext-l:hover>.ext-l:before
{
  right: -1px;
  left: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.desktop-nav ul.tmp-hmenu>li.ext:hover>.ext-m, .desktop-nav ul.tmp-hmenu>li.ext:hover>.ext-off
{
  position: absolute;
  display: block;
  overflow: hidden;
  height: 10px;
  top: 100%;
}

.desktop-nav ul.tmp-hmenu>li.ext.ext-r:hover>.ext-m
{
  left: -0;
  right: 0;
  padding-right: 0;
  padding-left: 0;
}

.desktop-nav ul.tmp-hmenu>li.ext:hover>.ext-off
{
  left: -0;
  right: -0;
  padding-left: 0;
  padding-right: 0;
}

.desktop-nav ul.tmp-hmenu>li.ext.ext-l:hover>.ext-m
{
  right: -0;
  left: 0;
  padding-left: 0;
  padding-right: 0;
}

.desktop-nav ul.tmp-hmenu>li.ext.ext-l.ext-r:hover>.ext-m
{
  right: -0;
  left: -0;
  padding-left: 0;
  padding-right: 0;
}

.desktop-nav ul.tmp-hmenu>li.ext:hover>.ext-m:before, .desktop-nav ul.tmp-hmenu>li.ext:hover>.ext-off:before
{
  position: absolute;
  content: ' ';
  top: -1px;
  bottom: -1px;
  background-color: #FFFFFF;
  border: 1px Dotted rgba(38, 38, 38, 0.9);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.8);
}

.desktop-nav ul.tmp-hmenu>li.ext.ext-r:hover>.ext-m:before
{
  right: -1px;
  left: 0;
}

.desktop-nav ul.tmp-hmenu>li.ext.ext-l:hover>.ext-m:before
{
  left: -1px;
  right: 0;
}

.desktop-nav ul.tmp-hmenu>li.ext.ext-l.ext-r:hover>.ext-m:before
{
  left: -1px;
  right: -1px;
}

.tmp-layout-wrapper
{
  position: relative;
  margin: 20px auto 0 auto;
  z-index: auto !important;
}

.tmp-content-layout
{
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.tmp-content-layout-row
{
  display: table-row;
}

.tmp-layout-cell
{
  display: table-cell;
  vertical-align: top;
}

.tmp-vmenublock
{
  margin: 3px;
}

div.tmp-vmenublock img
{
  margin: 0;
}

.tmp-vmenublockheader
{
  padding: 10px 0;
  margin: 0 auto 7px;
}

.tmp-vmenublockheader .t, .tmp-vmenublockheader .t a, .tmp-vmenublockheader .t a:link, .tmp-vmenublockheader .t a:visited, .tmp-vmenublockheader .t a:hover
{
  color: #878787;
  font-size: 20px;

  font-weight: normal;
  font-style: normal;
  margin: 0 10px;
}

.tmp-vmenublockcontent
{
  margin: 0 auto;
}

ul.tmp-vmenu, ul.tmp-vmenu ul
{
  list-style: none;
  display: block;
}

ul.tmp-vmenu, ul.tmp-vmenu li
{
  display: block;
  margin: 0;
  padding: 0;
  width: auto;
  line-height: 0;
}

ul.tmp-vmenu
{
  margin-top: 0;
  margin-bottom: 0;
}

ul.tmp-vmenu ul
{
  display: none;
  margin: 0;
  padding: 0;
  position: relative;
}

ul.tmp-vmenu ul.active
{
  display: block;
}

ul.tmp-vmenu>li>a
{
  padding: 0 10px;
  margin: 0 auto;
  color: #808080;
  min-height: 30px;
  line-height: 30px;
}

ul.tmp-vmenu a
{
  display: block;
  cursor: pointer;
  z-index: 1;
  font-size: 12px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  position: relative;
}

ul.tmp-vmenu li
{
  position: relative;
}

ul.tmp-vmenu>li
{
  margin-top: 0;
}

ul.tmp-vmenu>li>ul
{
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

ul.tmp-vmenu>li:first-child
{
  margin-top: 0;
}

ul.tmp-vmenu>li>a:before
{
  content: url('/web/20181211130434im_/https://www.moderateparty.net/site2/templates/tmp/images/vmenuitemicon.png');
  margin-right: 5px;
  bottom: 2px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
}

.opera ul.tmp-vmenu>li>a:before
{
  bottom: 0;
}

ul.tmp-vmenu>li>a.active:before
{
  content: url('/web/20181211130434im_/https://www.moderateparty.net/site2/templates/tmp/images/vmenuactiveitemicon.png');
  margin-right: 5px;
  bottom: 2px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
}

.opera ul.tmp-vmenu>li>a.active:before
{
  bottom: 0;
}

ul.tmp-vmenu>li>a:hover:before
{
  content: url('/web/20181211130434im_/https://www.moderateparty.net/site2/templates/tmp/images/vmenuhovereditemicon.png');
  margin-right: 5px;
  bottom: 2px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
}

.opera ul.tmp-vmenu>li>a:hover:before
{
  bottom: 0;
}

ul.tmp-vmenu>li>a:hover, ul.tmp-vmenu>li>a.active:hover
{
  padding: 0 10px;
  margin: 0 auto;
}

ul.tmp-vmenu>li>a:hover, ul.tmp-vmenu>li>a.active:hover
{
  text-decoration: underline;
}

ul.tmp-vmenu a:hover, ul.tmp-vmenu a.active:hover
{
  color: #808080;
}

ul.tmp-vmenu>li>a.active:hover>span.border-top, ul.tmp-vmenu>li>a.active:hover>span.border-bottom
{
  background-color: transparent;
}

ul.tmp-vmenu>li>a.active
{
  padding: 0 10px;
  margin: 0 auto;
  text-decoration: underline;
  color: #808080;
}

ul.tmp-vmenu>li>ul:before
{
  margin: 0 auto;
  display: block;
  position: absolute;
  content: ' ';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

ul.tmp-vmenu li li a
{
  margin: 0 auto;
  position: relative;
}

ul.tmp-vmenu ul li
{
  margin: 0;
  padding: 0;
}

ul.tmp-vmenu li li
{
  position: relative;
  margin-top: 0;
}

ul.tmp-vmenu ul a
{
  display: block;
  position: relative;
  min-height: 22px;
  overflow: visible;
  padding: 0;
  padding-left: 23px;
  padding-right: 23px;
  z-index: 0;
  line-height: 22px;
  color: #808080;
  font-size: 12px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  margin-left: 0;
  margin-right: 0;
}

ul.tmp-vmenu ul a:visited, ul.tmp-vmenu ul a.active:hover, ul.tmp-vmenu ul a:hover, ul.tmp-vmenu ul a.active
{
  line-height: 22px;
  color: #808080;
  font-size: 12px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  margin-left: 0;
  margin-right: 0;
}

ul.tmp-vmenu ul ul a
{
  padding-left: 46px;
}

ul.tmp-vmenu ul ul ul a
{
  padding-left: 69px;
}

ul.tmp-vmenu ul ul ul ul a
{
  padding-left: 92px;
}

ul.tmp-vmenu ul ul ul ul ul a
{
  padding-left: 115px;
}

ul.tmp-vmenu ul>li>a:hover, ul.tmp-vmenu ul>li>a.active:hover
{
  margin: 0 auto;
}

ul.tmp-vmenu ul li a:hover, ul.tmp-vmenu ul li a.active:hover
{
  text-decoration: underline;
  color: #808080;
}

ul.tmp-vmenu ul a:hover:after
{
  background-position: center;
}

ul.tmp-vmenu ul a.active:hover:after
{
  background-position: center;
}

ul.tmp-vmenu ul a.active:after
{
  background-position: bottom;
}

ul.tmp-vmenu ul>li>a.active
{
  margin: 0 auto;
}

ul.tmp-vmenu ul a.active, ul.tmp-vmenu ul a:hover, ul.tmp-vmenu ul a.active:hover
{
  text-decoration: none;
  color: #808080;
}

.tmp-block
{
  margin: 3px;
}

div.tmp-block img
{
  border: none;
  margin: 0;
}

.tmp-blockheader
{
  padding: 6px 5px;
  margin: 0 auto 2px;
}

.tmp-blockheader .t, .tmp-blockheader .t a, .tmp-blockheader .t a:link, .tmp-blockheader .t a:visited, .tmp-blockheader .t a:hover
{
  color: #878787;
  font-size: 20px;

  font-weight: normal;
  font-style: normal;
  margin: 0 10px;
}

.tmp-blockcontent
{
  padding: 5px;
  margin: 0 auto;
  color: #404040;
  font-size: 12px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.tmp-blockcontent table, .tmp-blockcontent li, .tmp-blockcontent a, .tmp-blockcontent a:link, .tmp-blockcontent a:visited, .tmp-blockcontent a:hover
{
  color: #404040;
  font-size: 12px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.tmp-blockcontent p
{
  margin: 0 5px;
}

.tmp-blockcontent a, .tmp-blockcontent a:link
{
  color: #9C9C9C;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.tmp-blockcontent a:visited, .tmp-blockcontent a.visited
{
  color: #BABABA;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-decoration: underline;
}

.tmp-blockcontent a:hover, .tmp-blockcontent a.hover
{
  color: #808080;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-decoration: underline;
}

.tmp-block ul>li:before
{
  content: url('/web/20181211130434im_/https://www.moderateparty.net/site2/templates/tmp/images/blockbullets.png');
  margin-right: 6px;
  bottom: 2px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
  margin-left: -12px;
}

.opera .tmp-block ul>li:before
{
  bottom: 0;
}

.tmp-block li
{
  font-size: 13px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  line-height: 125%;
  color: #696969;
  margin: 5px 0 0 10px;
}

.tmp-block ul>li, .tmp-block ol
{
  padding: 0;
}

.tmp-block ul>li
{
  padding-left: 12px;
}

.tmp-breadcrumbs
{
  margin: 0 auto;
}

a.tmp-button, a.tmp-button:link, a:link.tmp-button:link, body a.tmp-button:link, a.tmp-button:visited, body a.tmp-button:visited, input.tmp-button, button.tmp-button
{
  text-decoration: none;
  font-size: 13px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  color: #FFFFFF;
  margin: 0 !important;
  overflow: visible;
  cursor: pointer;
  text-indent: 0;
  line-height: 24px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.tmp-button img
{
  margin: 0;
  vertical-align: middle;
}

.firefox2 .tmp-button
{
  display: block;
  float: left;
}

input, select, textarea
{
  vertical-align: middle;
  font-size: 13px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
}

.tmp-block select
{
  width: 96%;
}

input.tmp-button
{
  float: none !important;
}

.tmp-button.active, .tmp-button.active:hover
{
  background: #B5B5B5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 0 21px;
  margin: 0 auto;
}

.tmp-button.active, .tmp-button.active:hover
{
  color: #FFFFFF !important;
}

.tmp-button.hover, .tmp-button:hover
{
  background: #A6A6A6;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 0 21px;
  margin: 0 auto;
}

.tmp-button.hover, .tmp-button:hover
{
  color: #FFFFFF !important;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea
{
  background: #FAFAFA;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #C7C7C7;
  margin: 0 auto;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea
{
  width: 100%;
  padding: 4px 0;
  color: #525252 !important;
  font-size: 13px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
}

input.tmp-error, textarea.tmp-error
{
  background: #FAFAFA;
  border: 1px solid #E2341D;
  margin: 0 auto;
}

input.tmp-error, textarea.tmp-error
{
  color: #525252 !important;
  font-size: 13px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
}

form.tmp-search input[type="text"]
{
  background: #FFFFFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #D6D6D6;
  margin: 0 auto;
  width: 100%;
  padding: 3px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #404040 !important;
  font-size: 13px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
}

form.tmp-search
{
  background-image: none;
  border: 0;
  display: block;
  position: relative;
  top: 0;
  padding: 0;
  margin: 5px;
  left: 0;
  line-height: 0;
  width: 88px;
}

form.tmp-search input
{
  top: 0;
  right: 0;
}

form.tmp-search>input
{
  bottom: 0;
  left: 0;
  vertical-align: middle;
}

form.tmp-search input[type="submit"]
{
  margin: 0 auto;
  color: #FFFFFF !important;
  position: absolute;
  display: block;
  left: auto;
  border: none;
  background: url('/web/20181211130434im_/https://www.moderateparty.net/site2/templates/tmp/images/searchicon.png') center center no-repeat;
  width: 24px;
  height: 100%;
  padding: 0;
}

label.tmp-checkbox:before
{
  background: #FAFAFA;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  margin: 0 auto;
  width: 16px;
  height: 16px;
}

label.tmp-checkbox
{
  cursor: pointer;
  font-size: 13px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  line-height: 16px;
  display: inline-block;
}

.tmp-checkbox>input[type="checkbox"]
{
  margin: 0 5px 0 0;
}

label.tmp-checkbox.active:before
{
  background: #7A7A7A;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  margin: 0 auto;
  width: 16px;
  height: 16px;
  display: inline-block;
}

label.tmp-checkbox.hovered:before
{
  background: #E0E0E0;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  margin: 0 auto;
  width: 16px;
  height: 16px;
  display: inline-block;
}

label.tmp-radiobutton:before
{
  background: #FAFAFA;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 0 auto;
  width: 12px;
  height: 12px;
}

label.tmp-radiobutton
{
  cursor: pointer;
  font-size: 13px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  line-height: 12px;
  display: inline-block;
}

.tmp-radiobutton>input[type="radio"]
{
  vertical-align: baseline;
  margin: 0 5px 0 0;
}

label.tmp-radiobutton.active:before
{
  background: #C7C7C7;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 0 auto;
  width: 12px;
  height: 12px;
  display: inline-block;
}

label.tmp-radiobutton.hovered:before
{
  background: #E0E0E0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 0 auto;
  width: 12px;
  height: 12px;
  display: inline-block;
}

.tmp-post
{
  padding: 9px;
  margin: 7px;
}

a img
{
  border: 0;
}

.tmp-article img, img.tmp-article, .tmp-block img, .tmp-footer img
{
  margin: 7px 7px 7px 7px;
}

.tmp-metadata-icons img
{
  border: none;
  vertical-align: middle;
  margin: 2px;
}

.tmp-article table, table.tmp-article
{
  border-collapse: collapse;
  margin: 1px;
}

.tmp-post .tmp-content-layout-br
{
  height: 0;
}

.tmp-article th, .tmp-article td
{
  padding: 2px;
  border: none;
  vertical-align: top;
  text-align: left;
}

.tmp-article th
{
  text-align: center;
  vertical-align: middle;
  padding: 7px;
}

pre
{
  overflow: auto;
  padding: 0.1em;
}

.preview-cms-logo
{
  border: 0;
  margin: 1em 1em 0 0;
  float: left;
}

.image-caption-wrapper
{
  padding: 7px 7px 7px 7px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.image-caption-wrapper img
{
  margin: 0 !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.image-caption-wrapper div.tmp-collage
{
  margin: 0 !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.image-caption-wrapper p
{
  font-size: 80%;
  text-align: right;
  margin: 0;
}

.tmp-postheader
{
  color: #696969;
  margin: 5px 0;
  font-size: 26px;

  font-weight: normal;
  font-style: normal;
}

.tmp-postheader a, .tmp-postheader a:link, .tmp-postheader a:visited, .tmp-postheader a.visited, .tmp-postheader a:hover, .tmp-postheader a.hovered
{
  font-size: 26px;

  font-weight: normal;
  font-style: normal;
}

.tmp-postheader a, .tmp-postheader a:link
{

  text-decoration: none;
  text-align: left;
  color: #9E9E9E;
}

.tmp-postheader a:visited, .tmp-postheader a.visited
{

  text-align: left;
  color: #8C8C8C;
}

.tmp-postheader a:hover, .tmp-postheader a.hovered
{

  text-decoration: none;
  text-align: left;
  color: #9C9C9C;
}

.tmp-postheadericons, .tmp-postheadericons a, .tmp-postheadericons a:link, .tmp-postheadericons a:visited, .tmp-postheadericons a:hover
{
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  color: #696969;
}

.tmp-postheadericons
{
  display: inline-block;
  padding: 1px;
}

.tmp-postheadericons a, .tmp-postheadericons a:link
{
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  color: #949494;
}

.tmp-postheadericons a:visited, .tmp-postheadericons a.visited
{
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: italic;
  color: #757575;
}

.tmp-postheadericons a:hover, .tmp-postheadericons a.hover
{
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: italic;
  text-decoration: none;
  color: #757575;
}

.tmp-postdateicon:before
{
  content: url('/web/20181211130434im_/https://www.moderateparty.net/site2/templates/tmp/images/postdateicon.png');
  margin-right: 6px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
  bottom: auto;
}

.opera .tmp-postdateicon:before
{
  bottom: 0;
}

.tmp-postauthoricon:before
{
  content: url('/web/20181211130434im_/https://www.moderateparty.net/site2/templates/tmp/images/postauthoricon.png');
  margin-right: 6px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
  bottom: auto;
}

.opera .tmp-postauthoricon:before
{
  bottom: 0;
}

.tmp-postediticon:before
{
  content: url('/web/20181211130434im_/https://www.moderateparty.net/site2/templates/tmp/images/system/edit.png');
  margin-right: 6px;
  bottom: 2px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
}

.opera .tmp-postediticon:before
{
  bottom: 0;
}

.tmp-postcontent ul>li:before, .tmp-post ul>li:before, .tmp-textblock ul>li:before
{
  content: url('/web/20181211130434im_/https://www.moderateparty.net/site2/templates/tmp/images/postbullets.png');
  margin-right: 10px;
  bottom: 2px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
}

.opera .tmp-postcontent ul>li:before, .opera   .tmp-post ul>li:before, .opera   .tmp-textblock ul>li:before
{
  bottom: 0;
}

.tmp-postcontent li, .tmp-post li, .tmp-textblock li
{
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  color: #404040;
  margin: 5px 0 5px 11px;
}

.tmp-postcontent ul>li, .tmp-post ul>li, .tmp-textblock ul>li, .tmp-postcontent ol, .tmp-post ol, .tmp-textblock ol
{
  padding: 0;
}

.tmp-postcontent ul>li, .tmp-post ul>li, .tmp-textblock ul>li
{
  padding-left: 17px;
}

.tmp-postcontent ul>li:before, .tmp-post ul>li:before, .tmp-textblock ul>li:before
{
  margin-left: -17px;
}

.tmp-postcontent ol, .tmp-post ol, .tmp-textblock ol, .tmp-postcontent ul, .tmp-post ul, .tmp-textblock ul
{
  margin: 1em 0 1em 11px;
}

.tmp-postcontent li ol, .tmp-post li ol, .tmp-textblock li ol, .tmp-postcontent li ul, .tmp-post li ul, .tmp-textblock li ul
{
  margin: 0.5em 0 0.5em 11px;
}

.tmp-postcontent li, .tmp-post li, .tmp-textblock li
{
  margin: 5px 0 5px 0;
}

.tmp-postcontent ol>li, .tmp-post ol>li, .tmp-textblock ol>li
{
  overflow: visible;
}

.tmp-postcontent ul>li, .tmp-post ul>li, .tmp-textblock ul>li
{
  overflow-x: visible;
  overflow-y: hidden;
}

blockquote
{
  background: #F2F2F2 url('/web/20181211130434im_/https://www.moderateparty.net/site2/templates/tmp/images/postquote.png') no-repeat scroll;
  padding: 10px 10px 10px 47px;
  margin: 10px 0 0 25px;
  color: #121212;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  overflow: auto;
  clear: both;
}

blockquote a, .tmp-postcontent blockquote a, .tmp-blockcontent blockquote a, .tmp-footer blockquote a, blockquote a:link, .tmp-postcontent blockquote a:link, .tmp-blockcontent blockquote a:link, .tmp-footer blockquote a:link, blockquote a:visited, .tmp-postcontent blockquote a:visited, .tmp-blockcontent blockquote a:visited, .tmp-footer blockquote a:visited, blockquote a:hover, .tmp-postcontent blockquote a:hover, .tmp-blockcontent blockquote a:hover, .tmp-footer blockquote a:hover
{
  color: #121212;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

blockquote p, .tmp-postcontent blockquote p, .tmp-blockcontent blockquote p, .tmp-footer blockquote p
{
  margin: 0;
  margin: 5px;
}

.tmp-footer
{
  border-top: 1px dotted #7A7A7A;
  padding: 25px;
  margin: 20px auto 0;
  position: relative;
  color: #878787;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-align: center;
}

.tmp-footer a, .tmp-footer a:link, .tmp-footer a:visited, .tmp-footer a:hover, .tmp-footer td, .tmp-footer th, .tmp-footer caption
{
  color: #878787;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.tmp-footer p
{
  padding: 0;
  text-align: center;
}

.tmp-footer a, .tmp-footer a:link
{
  color: #9C9C9C;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.tmp-footer a:visited
{
  color: #808080;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-decoration: underline;
}

.tmp-footer a:hover
{
  color: #9C9C9C;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-decoration: none;
}

.tmp-footer img
{
  border: none;
  margin: 0;
}

.tmp-rss-tag-icon
{
  background: url('/web/20181211130434im_/https://www.moderateparty.net/site2/templates/tmp/images/footerrssicon.png') no-repeat scroll;
  margin: 0 auto;
  min-height: 25px;
  min-width: 25px;
  display: inline-block;
  text-indent: 28px;
  background-position: left center;
}

.tmp-rss-tag-icon:empty
{
  vertical-align: middle;
}

.tmp-footer ul>li:before
{
  content: url('/web/20181211130434im_/https://www.moderateparty.net/site2/templates/tmp/images/footerbullets.png');
  margin-right: 6px;
  bottom: 2px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
  margin-left: -13px;
}

.opera .tmp-footer ul>li:before
{
  bottom: 0;
}

.tmp-footer li
{
  font-size: 13px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  line-height: 125%;
  color: #545454;
}

.tmp-footer ul>li, .tmp-footer ol
{
  padding: 0;
}

.tmp-footer ul>li
{
  padding-left: 13px;
}

.tmp-page-footer, .tmp-page-footer a, .tmp-page-footer a:link, .tmp-page-footer a:visited, .tmp-page-footer a:hover
{
  font-family: Arial;
  font-size: 10px;
  letter-spacing: normal;
  word-spacing: normal;
  font-style: normal;
  font-weight: normal;
  text-decoration: underline;
  color: #757575;
}

.tmp-page-footer
{
  position: relative;
  z-index: auto !important;
  padding: 1em;
  text-align: center !important;
  text-decoration: none;
  color: #595959;
}

img.tmp-lightbox
{
  cursor: pointer;
}

#tmp-lightbox-bg *
{
  padding: 0;
  margin: 0;
}

div#tmp-lightbox-bg
{
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  height: 100%;
  background-color: #000;
  opacity: 0.8;
  filter: alpha(opacity=80);
  z-index: 9999;
}

img.tmp-lightbox-image
{
  -webkit-transition: opacity 350ms ease-in-out;
  -moz-transition: opacity 350ms ease-in-out;
  -o-transition: opacity 350ms ease-in-out;
  -ms-transition: opacity 350ms ease-in-out;
  transition: opacity 350ms ease-in-out;
  cursor: pointer;
  z-index: 10000;
  position: fixed;
  border: 6px solid #fff;
  border-radius: 3px;
  opacity: 0;
  filter: alpha(opacity=0);
}

img.tmp-lightbox-image.active
{
  opacity: 1;
  filter: alpha(opacity=100);
}

.lightbox-error
{
  position: fixed;
  background: #fff;
  z-index: 100;
  opacity: 0.95;
  padding: 20px;
  border: 1px solid #b4b4b4;
  border-radius: 10px;
  box-shadow: 0 2px 5px #333;
  width: 300px;
  height: 80px;
}

.loading
{
  position: fixed;
  background: #fff url('/web/20181211130434im_/https://www.moderateparty.net/site2/templates/tmp/images/preloader-01.gif') center center no-repeat;
  width: 32px;
  height: 32px;
  z-index: 10100;
  opacity: 0.5;
  padding: 10px;
  border: 1px solid #b4b4b4;
  border-radius: 10px;
  box-shadow: 0 2px 5px #333;
}

.arrow
{
  height: 100px;
  width: 82px;
  z-index: 10003;
  position: fixed;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.arrow.left
{
  left: 9px;
}

.arrow.right
{
  right: 9px;
}

.arrow:hover
{
  opacity: 1;
  filter: alpha(opacity=100);
}

.arrow.disabled
{
  display: none;
}

.arrow-t, .arrow-b
{
  height: 6px;
  width: 30px;
  left: 26px;
  background-color: #fff;
  position: relative;
  border-radius: 3px;
}

.arrow-t
{
  top: 38px;
}

.arrow-b
{
  top: 50px;
}

.close
{
  width: 22px;
  height: 22px;
  position: fixed;
  top: 30px;
  right: 39px;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.close:hover
{
  opacity: 1;
  filter: alpha(opacity=100);
}

.close .cw, .close .ccw
{
  position: absolute;
  top: 8px;
  left: -4px;
  width: 30px;
  height: 6px;
  background-color: #fff;
  border-radius: 3px;
}

.cw
{
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
}

.ccw
{
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
}

.close-alt, .arrow-right-alt, .arrow-left-alt
{
  display: none;
  color: #fff;
  font-size: 2.5em;
}

.ie8 .close-alt, .ie8 .arrow-right-alt, .ie8 .arrow-left-alt
{
  display: block;
}

.ie8 .cw, .ie8 .ccw
{
  display: none;
}

.tmp-content-layout .tmp-sidebar1
{
  border-right: 1px solid #B5B5B5;
  margin: 0 auto;
  width: 100px;
}

.tmp-content-layout .tmp-content
{
  margin: 0 auto;
}

.tmp-content-layout .tmp-sidebar2
{
  border-left: 1px solid #B5B5B5;
  margin: 0 auto;
  width: 200px;
}

fieldset dl
{
  display: block;
  margin: 0;
  padding: 0;
  background: none;
}

fieldset dt
{
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 12em;
  height: 2em;
  margin: 0;
  padding: 0;
  float: left;
  clear: both;
  background: none;
  line-height: 2em;
  overflow: hidden;
}

fieldset dd
{
  display: block;
  min-height: 2em;
  margin: 0 0 0 12em;
  padding: 0;
  background: none;
  line-height: 2em;
}

fieldset label
{
  display: inline-block;
  width: 12em;
}

fieldset textarea
{
  vertical-align: text-top;
}

.img-fulltext-left, .img-intro-left
{
  float: left;
  display: block;
  border: none;
  padding: 0;
  margin: 0 0.3em 0.3em 0;
  margin-top: 0;
}

.img-fulltext-right, .img-intro-right
{
  float: right;
  display: block;
  border: none;
  padding: 0;
  margin: 0 0 0.3em 0.3em;
  margin-top: 0;
}

ul.pagenav
{
  clear: both;
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}

ul.pagenav li, ul.pagenav li:before
{
  display: block;
  background: none;
  margin: 0;
  padding: 0;
  width: 50%;
  text-align: center;
  content: normal;
}

ul.pagenav li.pagenav-prev
{
  float: left;
}

ul.pagenav li.pagenav-next
{
  margin: 0 0 0 50%;
}

div.item-page dl.tabs
{
  display: block;
  margin: 0;
  padding: 0;
}

div.item-page dl.tabs:before
{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: block;
  float: left;
  width: 1em;
  height: 2em;
  overflow: hidden;
}

div.item-page dl.tabs dt
{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: block;
  float: left;
  height: 2em;
  overflow: hidden;
  border-left: solid 1px #595959;
  border-top: solid 1px #595959;
}

div.item-page dl.tabs dt h3
{
  margin: 0;
  padding: 0 1em;
  line-height: 2em;
  font-size: 100%;
  overflow: hidden;
}

div.item-page dl.tabs dt h3 a
{
  text-decoration: none;
}

div.item-page dl.tabs:after
{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: block;
  border-left: solid 1px #595959;
  content: " ";
  overflow: hidden;
  height: 2em;
}

div.item-page div.current
{
  clear: both;
  border: solid 1px #595959;
}

div.item-page div.current dd.tabs
{
  margin: 0;
  padding: 0;
}

div.item-page .panel
{
  border: solid 1px #595959;
  margin-top: -1px;
}

div.item-page .panel h3
{
  margin: 0;
  padding: 0;
}

div.item-page .panel h3 a
{
  display: block;
  padding: 6px;
  text-decoration: none;
}

div.item-page .panel h3.pane-toggler-down a
{
  border-bottom: solid 1px #595959;
}

div.item-page .panel .pane-slider
{
  margin: 0;
  padding: 0;
}

div.item-page div.pagination ul
{
  clear: both;
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}

div.item-page div.pagination li
{
  display: block;
  width: 50%;
  margin: 0;
  padding: 0;
  text-align: center;
  float: left;
  white-space: nowrap;
}

div.item-page div.pagination:after
{
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

#searchForm .phrases-box
{
  display: block;
  float: left;
}

#searchForm .ordering-box
{
  text-align: right;
}

#searchForm .phrases-box label, #searchForm .ordering-box label, #searchForm .only label
{
  display: inline-block;
  width: auto;
  height: 2em;
  margin: 0;
  padding: 0 0.3em;
}

#mod-finder-searchform label
{
  display: block;
}

#mod-finder-searchform input.inputbox
{
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  max-width: 300px;
}

#login-form #form-login-username label, #login-form #form-login-password label
{
  display: block;
}

#login-form #form-login-username input, #login-form #form-login-password input
{
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  max-width: 300px;
}

.breadcrumbs img
{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

dl.stats-module
{
  padding: 0.3em 0 0.3em 0.3em;
  margin: 0;
}

dl.stats-module dt
{
  float: left;
  display: block;
  line-height: 1.5em;
  min-height: 1.5em;
  width: 10em;
  padding: 0.3em 0.3em 0 0;
  margin: 0;
  font-weight: bold;
}

dl.stats-module dd
{
  display: block;
  line-height: 1.5em;
  min-height: 1.5em;
  margin-left: 0 0 0 10em;
}

div.mod-languages ul
{
  margin: 0;
  padding: 0;
  list-style: none;
}

div.mod-languages li
{
  background: none;
  margin: 0 0.3em;
  padding: 0;
}

div.mod-languages ul.lang-inline li
{
  display: inline;
}

div.mod-languages ul.lang-block li
{
  display: block;
}

div.mod-languages img
{
  border: none;
  margin: 0;
  padding: 0;
}

div.clr
{
  clear: both;
}

#system-message ul li
{
  background-image: none;
}

ul.actions, ul.actions li, ul.actions li img
{
  display: inline;
  margin: 0;
  padding: 0;
  border: none;
}

ul.actions li
{
  background: none;
  list-style: none;
}

.items-row
{
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.items-row .item
{
  display: table-cell;
  vertical-align: top;
}

.items-row .row-separator
{
  display: none;
}

div.pagination p.counter
{
  display: inline-block;
  margin: 0 0.3em 0 0;
  padding: 0;
  background: none;
}

div.pagination ul, div.pagination ul li, div.pagination ul > li:before
{
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0 0.3em;
  background: none;
  content: normal;
}

div.tip-wrap
{
  background: #fff;
  border: 1px solid #aaa;
}

div.tip-wrap div.tip
{
  padding: 0.3em;
}

div.tip-wrap div.tip-title
{
  font-weight: bold;
}

table.category
{
  width: 100%;
}

table.category thead th img
{
  padding: 0 0 0 0.3em;
  margin: 0;
  border: none;
}

span.hasTip a img
{
  padding: 0;
  margin: 0;
  border: none;
}

div.categories-list ul li span.item-title, div.cat-children ul li span.item-title
{
  display: block;
  margin: 0 0 0.3em 0;
}

div.categories-list ul li div.category-desc, div.cat-children ul li div.category-desc
{
  margin: 0 0 0.3em 0;
}

div.categories-list dl, div.cat-children dl
{
  display: block;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  background: none;
}

div.categories-list dl dt, div.cat-children dl dt, div.categories-list dl dd, div.cat-children dl dd
{
  display: inline-block;
  padding: 0;
  margin: 0;
  background: none;
}

div.img_caption p.img_caption
{
  padding: 0.3em 0;
  margin: 0;
}

/*
     FILE ARCHIVED ON 13:04:34 Dec 11, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 01:20:12 Feb 16, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 84.41
  exclusion.robots: 0.083
  exclusion.robots.policy: 0.076
  cdx.remote: 0.047
  esindex: 0.006
  LoadShardBlock: 54.791 (3)
  PetaboxLoader3.datanode: 192.028 (5)
  CDXLines.iter: 20.105 (3)
  load_resource: 225.482 (2)
  PetaboxLoader3.resolve: 56.699 (2)
*/
